<!-- 
  <div class="container-home">
    <div class=" block-1">
      <div class="container">
        <h1 class="display-1">L'univers <br> à votre portée </h1>
        <img class="img-fluid" src="/assets/astronaute.png">

      </div>
    </div>     
     
    <div class="block-2">
       
    
    </div>
     <div class="block-3">
       
   
     </div>
   
     <div class="block-4">
       
   
     </div>

  </div> -->



  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Elegant and creative solutions</h1>
          <h2>We are team of talented designers making websites with Bootstrap</h2>
          <div class="d-flex">
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox btn-watch-video" data-vbtype="video" data-autoplay="true"> Watch Video <i class="icofont-play-alt-2"></i></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="../../../assets/astronaute.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  






